<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>popup</title>
    <style>
        body {
            padding: 20px;
        }
        h1 {
            text-align: center;
        }
        button {
            margin: 10px;
            padding: 10px 20px;
        }
        table {
            border-collapse: collapse;
        }
        td, th {
            padding: 5px;
            border: 1px solid #000;
        }
        td:first-child, th:first-child {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <table>
        <caption>Scripts on page</caption>
        <tr>
            <th>Ignore</th>
            <th>Type</th>
            <th>Script</th>
        </tr>
        <tr v-for="script in scripts">
            <td><input type="checkbox" v-model="ignoreList" :value="script.uniq" @change="updateIgnore"></td>
            <td>{{ script.type }}</td>
            <td v-if="script.src">{{ script.src }}</td>
            <td v-else>{{ script.inner }}</td>
        </tr>
    </table>
</div>
<h1>TestJS</h1>
<button>Start</button>
<script src="script.js"></script>
</body>
</html>